<mat-toolbar>

    <span>BINFO-CEP greenonomy</span>
    <span class="spacer"></span>
    <button mat-mini-fab color="primary" [routerLink]="['../']">
        <mat-icon>arrow_back</mat-icon>
    </button>

</mat-toolbar>
<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Create new item</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="uri" formControlName="uri" maxlength="50">
                        @if (form.controls['uri'].hasError('required')) {
                        <mat-error>uri is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions class="actions">
            <span class="spacer"></span>
            <button mat-raised-button type="button" [routerLink]="['../']">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>