.full-width {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}
.actions {
  display: flex;
}
.actions button {
  margin-top: 20px;
  margin-left: 5px;
}
.col:last-child {
  margin-right: 0;
}
.spacer {
  flex: 1 1 auto;
}
