.spacer {
  flex: 1 1 auto;
}
.action-buttons {
  padding-bottom: 20px;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.records {
  display: flex;
  margin-bottom: 0;
}
.records span {
  margin-left: 10px;
}
.record {
  flex: 1;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: stretch;
}
.info {
  float: left;
  width: 150px;
}
.record-name {
  width: 250px;
}
