<mat-toolbar>
    <span>BINFO-CEP greenonomy (market address: {{marketAddress}})</span>
    <span class="spacer"></span>
    <button mat-mini-fab color="primary" routerLink="./invite">
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-mini-fab color="primary" routerLink="./create">
        <mat-icon>library_add</mat-icon>
    </button>
</mat-toolbar>
<mat-accordion class="example-headers-align">
    @for (item of myItems ; track item.uri) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>account_circle</mat-icon>
                {{item.uri | uppercase}}
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    }
    @empty {
    <p>No items</p>
    }
</mat-accordion>
--------------
<mat-accordion class="example-headers-align">
    @for (item of marketItems ; track item.uri) {
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>account_circle</mat-icon>
                {{item.uri | uppercase}}
            </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    }
    @empty {
    <p>No items</p>
    }
</mat-accordion>